@model IEnumerable<x9web.Models.xqisu>

@{
    ViewBag.Title = "开奖统计";
    Layout = "~/Views/Pages/Manage.cshtml";
}

@section styles{
    <style>
        * {
            list-style: none;
        }

        .menu {
            padding: 5px;
            overflow: hidden;
            border: 1px solid #1198b6;
            background: #d8f6ff;
            margin-bottom: 10px;
        }

            .menu ul {
                margin: 0;
                padding: 0;
            }

            .menu li {
                float: left;
            }

            .menu .btn {
                border-radius: 0;
            }

            .menu .form-control {
                border-radius: 0;
            }

        .view ul {
            margin: 0;
            padding: 0;
        }

        .view li {
            float: left;
        }

        .view .top {
            padding: 8px;
            border-bottom: 1px solid #1198b6;
        }

        .view .main {
            margin-top: 10px;
            margin-left: 20px;
        }

        .view .title {
            font-weight: bold;
        }

        .view .main ul {
            overflow: hidden;
        }

        .view .main li {
            padding: 8px 8px;
            width: 60px;
            border: 1px solid #ff6a00;
            border-left: none;
            text-align: center;
        }

        .view .main .A {
            width: 120px;
            border: 1px solid #ff6a00;
            background: #ffdcc4;
            text-align: center;
            font-weight: bold;
        }

        .view .active {
            border-radius: 50px;
            background: #ff6a00;
            color: #fff !important;
            padding: 0 !important;
            width: 20px !important;
            height: 20px !important;
            margin-left: 10px;
            border: 0 !important;
        }
    </style>
}
@section scripts{
    <script src="~/Scripts/apps/laydate.js"></script>
    <script>
        laydate.render({
            elem: ".menu input[name='select_time']",
            range: ">>>"
        });

        //var dom1 = $(".view #chart1");

        //var chart1 = new Chart(dom1, {
        //    type: "bar",
        //    data: {
        //        labels: ('龙,蛇,猪,狗,鼠,牛,马').split(','),
        //        datasets: [{
        //            label: "",
        //            data: [10,20,30,0,80,60,30],
        //            fill: false,
        //            backgroundColor: [
        //'rgba(255, 99, 132, 0.6)',
        //'rgba(54, 162, 235, 0.6)',
        //'rgba(255, 206, 86, 0.6)',
        //            ]
        //        }]
        //    },
        //    options: {
        //        legend: {
        //            display: false
        //        }
        //    }
        //})
    </script>
}

<div class="menu">
    <ul>
        @Html.Action("manage_look_menu", "partial")
        @*<li style="float:right">
                <ul class="select_time">
                    <li style="padding:6px 0">时间段：</li>
                    <li style="width:230px">
                        <input name="select_time" class="form-control" value="" lay-key="1" type="text">
                    </li>
                    <li style="margin-left:10px">
                        <button type="button" name="select_time" id="select_time" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </li>
                </ul>
            </li>*@
    </ul>
</div>

<div class="view">
    <div class="top">
        大小统计：
    </div>
    <div class="main">
        <ul class="title">
            <li class="A">期数</li>
            <li class="B">大</li>
            <li class="C">小</li>
            <li class="I">和</li>
            <li class="D">单</li>
            <li class="E">双</li>
            <li class="F">红</li>
            <li class="G">绿</li>
            <li class="H">蓝</li>
        </ul>
        @foreach (var m in Model)
        {
            string code = m.ball.Split(',')[6];
            string color = m.color.Split(',')[6].Trim();
            int codei = int.Parse(code);
            <ul>
                <li class="A" style="border-top:none">@m.name</li>
                <li class="B" style="border-top:none">
                    @if (codei > 24 && codei != 49)
                    {
                        <ul>
                            <li class="active" style="background:#000;"></li>
                        </ul>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </li>
                <li class="C" style="border-top:none">
                    @if (codei < 25)
                    {
                        <ul>
                            <li class="active" style="background:#000"></li>
                        </ul>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </li>
                <li class="I" style="border-top:none">
                    @if (codei == 49)
                    {
                        <ul>
                            <li class="active" style="background:#a800a1;"></li>
                        </ul>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </li>
                <li class="D" style="border-top:none">
                    @if (codei % 2 != 0 && codei != 49)
                    {
                        <ul>
                            <li class="active"></li>
                        </ul>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </li>
                <li class="E" style="border-top:none; border-right:1px dashed #007474;">
                    @if (codei % 2 == 0)
                    {
                        <ul>
                            <li class="active"></li>
                        </ul>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </li>
                <li class="F" style="border-top:none;">
                    @if (color == "R")
                    {
                        <ul>
                            <li class="active" style="background:#c60000"></li>
                        </ul>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </li>
                <li class="G" style="border-top:none">
                    @if (color == "G")
                    {
                        <ul>
                            <li class="active" style="background:#33ac00"></li>
                        </ul>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </li>
                <li class="H" style="border-top:none">
                    @if (color == "B")
                    {
                        <ul>
                            <li class="active" style="background:#0073c6"></li>
                        </ul>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </li>
            </ul>
        }
    </div>
</div>