@model IEnumerable<x9web.Models.xxiazu>

@{
    foreach (var m in Model)
    {
        string sss = "一肖,一肖不中";
        string mstr = "";
        if (sss.IndexOf(m.t2.Trim()) > -1)
        {
            mstr = m.name.Trim();
        }
        else
        {
            mstr = m.ball.Trim();
        }
        sss = "尾数,尾数不中";
        if (sss.IndexOf(m.t2.Trim()) > -1)
        {
            mstr = m.name.Trim() + "尾";
        }
        else
        {
            if (mstr == "")
            {
                mstr = m.ball.Trim();
            }
        }
        <ul class="home_zhudan">
            <li style="width:35%;">@DateTime.Parse(m.timer.ToString()).ToString("HH:mm:ss")</li>
            <li style="width:40%;">@m.t2@mstr</li>
            <li style="width:25%;text-align:right">@decimal.Round((decimal)m.money, 0)</li>
        </ul>
    }
}