<div class="s-info infoA">信用額度：@x9web.Api.WebClass.User_info_m1</div>
<div class="s-info infoB">已用額度：@x9web.Api.WebClass.User_info_m2</div>
<div class="s-info infoC">信用餘額：@x9web.Api.WebClass.User_info_m3</div>