  <li>
        <a class="btn btn-danger" style="margin-right:5px;" href="/manage/man_look_sum/?type=dx">大小单双红绿蓝</a>
    </li>
    <li>
        <a class="btn btn-danger" style="margin-right:5px; padding-left:60px; padding-right:60px" href="/manage/man_look_sum/?type=ws">尾数</a>
    </li>
    <li>
        <a class="btn btn-danger" style="padding-left:60px; padding-right:60px" href="/manage/man_look_sum/?type=yx">一肖</a>
    </li>